<body>
    <div class="createSkill">
        <h1>Add Skill</h1>

        <form [formGroup]="form" (ngSubmit)="createSkill()">
            <label for="name" class="formLabel"></label><br>
            <input type="text" formControlName="name" class="formControl" id="name" name="name"
                placeholder="Enter your skill name" [(ngModel)]="name"><br>

            <label for="value" class="formLabel"></label><br>
            <input type="range" formControlName="value" id="value" name="value"
                placeholder="Enter a value for the skill" (input)="updateValue($event)" [(ngModel)]="value">
            {{sliderValue}}<br>
            <p>Value: <span id="slider-value"></span></p>
            <button class="btn btn-primary send-button" id="submit" type="submit" value="SEND">Create</button>

        </form>
    </div>
</body>